body {
	
	background: #FFF5F5;
	max-width: 940px;
}

/*a largura máxima da página é de 940px*/



/* menu suspenso https://www.devmedia.com.br/menu-em-css-menu-dropdown-horizontal-com-html5-e-css3/37205 */

li {

	position: relative;
	width: 100px;
	display: inline;
	font-size: 25px;
	padding: 10px;
	text-decoration: none;
	float: left;
	left: 30%;
}

li a {

	color: #C38888;
	text-decoration: none;
	text-transform: none;
}

li:hover {

	color: #FFF5F5;
	background: #C38888;
	border-radius: 10px;
	text-decoration: none;
	

}

/*estilzando scrollbar https://www.digitalocean.com/community/tutorials/css-scrollbars-pt*/

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #F3F3F3;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #FFF5F5;
}

*::-webkit-scrollbar-thumb {
  background-color: #FFF5F5;
  border-radius: 20px;
  border: 1px solid #C38888;
}


/*CSS DA PÁGINA DE INÍCIO*/

#spark {

		left: 50%;
    width: 250px; /* Largura desejada */
    position: relative;
    top: 20px;
    margin-left: -125px;   /* menos metade da largura desejada */ 


}

#spark label  {

	position: absolute;
	right: 165px; /* não mexer aqui pq é a posição alinhada com a imagem */
	max-width: 50%;
	font-size: 80px;
	text-align: center;
	font-family: 'DM Serif Display', serif;
	color: #000000;
}

#spark label:hover {

	color: #C38888;
	transition: 500ms linear;
}


/* o texto é posicionado dentro da imagem
de acordo com as proporções da mesma */


/* posicionamento da imagem e do texto */

#container {

	 	left: 40%;
    width: 500px; /* Largura desejada */
    top: -20px;
    padding: 35px;
    position: relative;
    margin-left: -220px;   /* menos metade da largura desejada */ 
}

#container label {

	position: absolute;
	top: 150px;
	right: 135px;
	max-width: 50%;
	height: 245px;
    overflow-y: scroll;
    padding: 10px;
	font-size: 20px;
	text-align: justify;
	color: #000000;


}
/* label serve como uma tag de posicionamento */

#container label:hover {

		color: #C38888;
		transition: 500ms linear;

}


#main { /* o campo da escrita */

	left: 43%;
    width: 700px; /* Largura desejada */
    top: -20px;
    padding: 35px;
    position: relative;
    margin-left: -220px;   /* menos metade da largura desejada */ 

}

#main label { /*a parte escrita*/

	position: absolute;
	box-sizing: border-box;
    border: 2px solid #000000;
	border-radius: 10px;
	top: 10px;
	left: 120px;
	padding: 35px;
	max-width: 50%;
	font-size: 20px;
	text-align: justify;
	color: #000000;
}

/* elemento lua */

#container-moon {

	 	left: 65%;
    width: 500px; /* Largura desejada */
    top: -20px;
    padding: 35px;
    position: relative;
    margin-left: -220px;   /* menos metade da largura desejada */ 
}


footer {

		left: 55%;
    width: 350px; /* Largura desejada */
    position: relative;
    top: -50px;
    margin-left: -220px;   /* menos metade da largura desejada */ 


}

footer p {

	text-align: center;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

footer p:hover {

	color:#FFFFFF;
	background-color: #C38888;
	text-decoration: none;

}


@media screen and (max-width: 480px) {

li {

	position: static;
	width: auto;
	padding: 10px;
	display: inline;
	padding: 10px;
	font-size: 25px;
	text-decoration: none;
	float: left;
	left: 30%;
}

li a {

	color: #C38888;
	text-decoration: none;
	text-transform: none;
}

li:hover {

	color: #FFF5F5;
	background: #C38888;
	border-radius: 10px;
	text-decoration: none;
	
}

h1 {

	color: #C38888;
}